body{
    margin:0;
   font-family: Arial, Helvetica, sans-serif; 
}
.topnav{
overflow:hidden;
background-color:lavender;
}
.topnav a{
    float:left;
    color:chocolate;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover{
background-color:deeppink;
color:black;
}
.topnav a.active{
    background-color:darkblue;
    color:white;
}

.pimg1{
    position:relative;
    opacity:0.7;
    height: 400px;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1
{
    background-image: url("download (5).jpeg");
    min-height: 100%;
}
.section
{
    background-color:rgb(228, 188, 201);
    color:rgb(200, 19, 110)
}
.section-dark{
    background-color:fuchsia;
    color:whitesmoke;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
}
.ptext .border .trans{
    background-color: transparent;
}